<!DOCTYPE html>
<html>
<head>
    <link href="~/css/own.css" rel="stylesheet" />

    <title>Dutch Treat : @ViewBag.Title</title>
</head>
<body>
    <header>
    <h1>Welcome to Dutch Treat</h1>
    <menu>
        <ul>
            <li><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact Us</a></li>
            <li><a asp-controller="App" asp-action="About">About us</a></li>
        </ul>
    </menu>
    </header>
    <section>
        <h1>@ViewBag.Title</h1>
        @RenderBody()
    </section>

    <footer>Copyright 2017 Dutch Treat LLC</footer>
    

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/javasjs/index.js"></script>
</body>
</html>